* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@media (width < 681px) {

    .header-ts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 6px;
        border-bottom:2px solid rgb(117, 107, 107);
        border-radius: 10px;
        box-shadow: -3px 8px 11px lightblue;
        z-index: -1;
    }

    .header_logImTitl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        z-index: 1;

    }


    #hamburger_items{    
        position: relative;
        display: grid;
        height: calc(100vh);
        justify-items: center;
        align-content: space-evenly;
        margin-left: 100vw;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: -3px 8px 11px lightblue;
        background-color:white;     
        margin-top: -78px;
        z-index: 4;
        font-size: 20px;
        padding: 20px;
     
    }

    #hamburger_items div:first-child {
        border-bottom: 2px solid black;
    }
    
    #hamburger_items div:nth-child(2) {
        border-bottom: 2px solid black;
    }

    #hamburger_items div:nth-child(3) {
        border-bottom: 2px solid black;
    }

    #cerrar{
        position: absolute;
        top: 0px;

        left: 100vw;
        z-index: 5;
    }
}